Makefile
Makefile.in
config.*
configure
aclocal.m4
autom4te.cache
depcomp
install-sh
missing
mkinstalldirs
libtool
semantic.cache
configure.lineno
stamp-h1
dune-mc.pc
dune-mc-*.tar.gz
dune-mc-?.?
ltmain.sh
dune
.libs
dependencies.m4
am
